/* #ifdef H5 */
:root {
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-base: 14px;
  --font-size-lg: 15px;
  --font-size-xl: 16px;
  --font-size-2xl: 17px;
  --font-size-3xl: 18px;
  --font-size-4xl: 19px;
  --font-size-5xl: 20px;
}
/* #endif */
/* #ifndef H5 */
page {
  --font-size-xs: 24rpx;
  --font-size-sm: 26rpx;
  --font-size-base: 28rpx;
  --font-size-lg: 30rpx;
  --font-size-xl: 32rpx;
  --font-size-2xl: 34rpx;
  --font-size-3xl: 36rpx;
  --font-size-4xl: 38rpx;
  --font-size-5xl: 40rpx;
}
/* #endif */
